main > .hero-leader-container {
  margin: 0;
}

.hero-leader-container .hero-leader-wrapper {
  max-width: unset;
  padding: 0;
  margin-bottom: 3.2rem;
}

.hero-leader {
  position: relative;
  min-height: 288px;
  padding: 56px 70px 0;
  background-color: #071d49;
  border-radius: 64px 0 0;
}

.hero-leader.no-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-leader.no-image > div:last-child {
  position: relative;
  background-color: #fff;
  border-radius: 40px 0 0;
  padding: 80px 55px 0;
  margin: -112px 55px 80px;
}

.hero-leader.no-image > div:first-child:not(:last-child) {
  display: none;
}

.hero-leader h1 {
  font-family: "F37 Lineca Medium", Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.28px;
  color: #071d49;
  margin: 0;
}

.hero-leader p {
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #071d49;
  margin: 0;
}

.hero-leader picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-leader img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-leader {
    min-height: 288px;
    padding: 56px 70px 0;
  }

  .hero-leader h1 {
    font-size: 64px;
    line-height: 68px;
  }
}

@media (width < 600px) {
  .hero-leader {
    min-height: 180px;
    padding: 32px 24px 0;
    border-radius: 32px 0 0;
  }

  .hero-leader.no-image > div:last-child {
    padding: 32px 24px 0;
    margin: 0 -24px;
    border-radius: 24px 0 0;
  }

  .hero-leader.no-image > div:first-child:not(:last-child) {
    display: none;
  }

  .hero-leader h1 {
    font-size: 30px;
    line-height: 34px;
  }

  .hero-leader p {
    font-size: 20px;
    line-height: 26px;
  }
}
